.language-switcher {
    display: flex;
    line-height: 1;
    margin-left: -12px;

    .form-check {
        padding-left: 0;
        position: relative;
        min-height: 0;
        margin-inline: 12px;
        margin-bottom: 0;

        &:hover {
            color: $color-primary;
        }
        
        label {
            cursor: pointer;
        }

        &:not(:last-child):before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -12px;
            width: 1.5px;
            background: $color-secondary-text;
        }
    }

    .active {
        color: $action-button-active;
    }

    input {
        display: none;
    }

    
}