.dropdown-toggle {
  &.btn {
    &::after {
      display: none;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    display: flex;
    svg {
      margin-right: 10px;
      align-self: center;
    }
  }

  .dropdown-item,
  .switcher {
    font-size: 14px;
    color: $color-primary-text;
    transition: color .3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
}
