.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-color-button {
  position: relative;
  width: 248px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $color-global-white;
  border-radius: 8px;
  border: 1px solid $color-secondary-text;
}

.toggle-color-wrapper {
  padding: 2px;
  border-radius: 4px;
  border: 1px solid $action-button-disabled;
}

.toggle-color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  margin: 0px;
}

.toggle-color-text {
  width: 152px;
  margin: 0px;
  color: $color-secondary-text;
  font-size: 16px;
}

.toggle-color-button {
  &::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
  }
}

.toggle-color-button:not(.close)::after {
  transform: rotate(-180deg);
}