.emoji-main-title {
  margin-top: 32px;
  color: $color-secondary-text;
  font-size: $heading-sm-font-size;
  line-height: 1.4;
}

.emoji-description-action {
  margin-top: 16px;
  color: $color-secondary-text;
  font-size: $btn-text-size;
  line-height: 1.2;
}