.btn {
  min-height: 48px;
  border-radius: 16px;

  >svg {
    margin-right: 12px;
  }

  &.btn-icon-link {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    display: flex;
    align-items: center;
    border: none;
    color: $color-placeholder-text;

    &:hover {
      color: $color-global-black;
    }

    svg {
      margin-right: 12px;
    }
  }

  &.btn-primary {
    background-color: $color-primary;
    color: $color-primary-text-contrast;
    border: none;

    &:hover,
    &:focus {
      background-color: $btn-hover-color;
    }
    &:active {
      background-color: $btn-press-color;
      color: $btn-press-color-text ;
    }
  }

  &.btn-secondary {
    background-color: $color-global-white;
    color: $color-secondary-text;
    border: 1px solid $color-primary;

    &:hover,
    &:focus {
      background-color: $color-global-white;
      color: $color-secondary-text;
      border: 1px solid $btn-hover-color;
    }

    &:active {
      background-color: $color-global-white ;
      color: $btn-press-color-text ;
      border: 1px solid $btn-press-color;
    }
  }

  &.btn-tertiary {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $btn-hover-color;
    }

    &:active {
      color: $btn-press-color-text-tertiary;
      border: none;
    }
  }

  &[disabled], &[disabled]:disabled {
    background-color: $action-button-disabled;
    color: $color-primary-text-contrast;
    border-color: $color-primary-text-contrast;

    &:hover, &:focus, &:active {
      background-color: $action-button-disabled;
      color: $color-primary-text-contrast;
      border-color: $color-primary-text-contrast;
      filter: none;
    }
  }
}
