.side-bar {
  flex: 0 0 328px;
  background: $color-global-white;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid $action-button-disabled;
}
