.file-upload {
  border: 1px solid $color-primary;
  border-radius: 16px;
  text-align: center;
  padding-block: 48px;
  &__trigger {
    cursor: pointer;;
  }

  &__error {
    color: $color-accent-mistake;
    margin-top: 24px;
  }

  &__add-button {
    max-width: 384px;
    width: 100%;
  }
  &__delete-button {
    max-width: 248px;
    width: 100%;
  }

  &__drop-placeholder {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
    margin-block: 24px;
    color: $color-secondary-text;
  }

  &__img-params {
    p {
      line-height: 1.2;
      font-size: 16px;
      font-weight: 400;
      margin-block: 2px;
    }
  }

  &__preview {
    &-image {
      width: 136px;
      height: 136px;
      object-fit: cover;
      border-radius: 16px;
      margin-right: 24px;
      margin-top: 12px;
    }
    
    &-item {
      display: flex;
      align-items: flex-end;
    }
  }

  input[type="file"] {
    display: none;
  }
}
