.form-control {
  padding: 18.5px 16px;
  height: 48px;
  border: 1px solid $color-border-focus-1px;
  border-radius: 8px;

  &:hover {
    border: 1px solid $color-secondary-text;
  }

  &:focus {
    border-color: $color-border-focus-2px;
    box-shadow: 0 0 0 1px $color-border-focus-2px;
  }

  &::placeholder {
    color: $color-placeholder-text;
  }

}
.form-control.error-input {
  border: 1px solid $color-accent-mistake;
    &::placeholder {
      color: $color-accent-mistake-placeholder;
    }
}

.modal-body .text-danger {
  color: $color-accent-mistake !important;
}

