.menu {
  &__navigation {
    &-list {
      min-height: 50px;
      gap: 15px;
      list-style-type: none;
    }

    &-item {
      gap: 5px;
      white-space: nowrap;

      .dropdown-toggle {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-link {
        color: #fff;
        text-decoration: none;
        max-width: 180px;
        text-overflow: ellipsis;
        overflow: hidden;

        &.active {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }

  &__categories {
    &-list {
      &-item {
        > a {
          display: block;
          width: calc(100% - 45px);
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;
          text-decoration: none;

          &:hover {
            opacity: .5;
          }

          &.active {
            text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.dish-item__name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
