:root {
  --color-global-white: #ffffff;
  --color-global-black: #000000;

  --color-primary: #6a9775;
  --color-primary-text: #42423d;
  --color-primary-text-contrast: #f4f6f4;

  --color-secondary: #d8deda;
  --color-secondary-text: #3d4840;

  --color-accent-mistake: #F21111;
  --color-accent-mistake-placeholder: #252C27;
  --color-placeholder-text: #546358;
  --color-border-focus-1px: #6C7F70;
  --color-border-focus-2px: #557E5F;


    /* Switcher Styles */
  --switcher-toggle-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;

  /* Heading Styles */
  --heading-lg-font-size: 32px;
  --heading-md-font-size: 24px;
  --heading-sm-font-size: 20px;

  /* Transition */
  --main-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Buttons */
  --btn-text-weight: 500;
  --btn-text-size: 16px;
  --btn-text-line-height: 1.2;

  --btn-hover-color: #80b08c;
  --btn-press-color: #b0e4be;
  --btn-press-color-text: #86988a;
  --btn-disabled-color: #cbfdd8;
  --btn-disabled-color-text: #a1afa5;
  --btn-press-color-text-tertiary: #98caa5;
  --action-button-active: #41644A;
  --action-button-disabled: #BDC7BF; 
}


$color-global-white: var(--color-global-white);
$color-global-black: var(--color-global-black);

$color-primary: var(--color-primary);
$color-primary-text: var(--color-primary-text);
$color-primary-text-contrast: var(--color-primary-text-contrast);

$color-secondary: var(--color-secondary);
$color-secondary-text: var(--color-secondary-text);

$color-accent-mistake:var(--color-accent-mistake);
$color-accent-mistake-placeholder:var(--color-accent-mistake-placeholder);
$color-placeholder-text:var(--color-placeholder-text);
$color-border-focus-1px:var(--color-border-focus-1px);
$color-border-focus-2px:var(--color-border-focus-2px);

/* Switcher Styles */
$switcher-toggle-shadow: var(--switcher-toggle-shadow);

/* Heading Styles */
$heading-lg-font-size: var(--heading-lg-font-size);
$heading-md-font-size: var(--heading-md-font-size);
$heading-sm-font-size: var(--heading-sm-font-size);

/* Transition */
$main-transition: var(--main-transition);

/* Buttons*/
$btn-text-weight: var(--btn-text-weight);
$btn-text-size: var(--btn-text-size);
$btn-text-line-height: var(--btn-line-height);

$btn-hover-color: var(--btn-hover-color);
$btn-press-color: var(--btn-press-color);
$btn-press-color-text: var(--btn-press-color-text);
$btn-disabled-color: var(--btn-disabled-color);
$btn-disabled-color-text: var(--btn-disabled-color-text);
$btn-press-color-text-tertiary: var(--btn-press-color-text-tertiary);
$action-button-active: var(--action-button-active);
$action-button-disabled: var(--action-button-disabled);




