.nav {
  padding-block: 32px;
  color: $color-secondary-text;
  margin: 0 -24px;

  &-item {
    .nav-link {
      font-size: 18px;
      padding: 0;
      &.text-secondary {
        --bs-light-rgb: var(--color-secondary-text);
        color: var(--bs-light-rgb) !important;
      }
      &.text-light {
        --bs-light-rgb: var(--color-primary);
        color: var(--bs-light-rgb) !important;
      }
    }

    &__icon {
      display: inline-block;
      margin-right: 8px;
    }

    .text-hover:hover {
      --bs-light-rgb: var(--color-primary);
      color: var(--bs-light-rgb) !important;
    }
  }

  .accordion {
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-bg: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: none;

    > .nav-item {
      border-bottom: 1px solid $btn-disabled-color-text;
    }

    > .nav-item,
    .accordion-header {
      padding: 20px;
    }

    &-item {
      border-bottom: 1px solid $btn-disabled-color-text;
      background-color: $color-primary-text-contrast;
      transition: background-color .3s ease-in-out;
      &:has(.collapsed) {
        background-color: $color-global-white;
      }
    }

    &-body {
      padding: 0 0 12px;
      > .nav-item {
        .nav-link {
          font-size: 16px;
          padding-inline: 0;
          padding-inline-start: 32px;
          padding-block: 12px;
        }
      }
    }
    &-button {
      font-size: 18px;
      padding: 0;
      &:hover {
        color: $color-primary;
      }

      &:not(.collapsed) {
        color: var(--color-secondary-text);
      }
    }
  }
}
